extends layout

block content
<<<<<<< HEAD
	link(rel='stylesheet', href='/stylesheets/mystery.css')
	div(id="container")
		each destination in results
			if destination.locationData
				div(class="frame")
					a(href=destination.locationData.city)
						img(src=destination.locationData.images[0], width="100%", height="300px")
